/* Created by: Aimar Fernandez
* Created on: Feb 2025
* This file contains the CSS for index.html
*/
h1 {
  background-color: rgb(40, 40, 40);
  color: rgb(230, 230, 230);
  padding: 40px;
  text-align: center;
}

body {
  background-color: rgb(25, 25, 35);
  color: rgb(230, 230, 230);
  text-align: center;
  font: bold;
  
}

a {
  color: white;
}