/* Created by: Aimar Fernandez
* Created on: Feb 2025
* This file contains the CSS for index2.html
*/
body {
  background-color: rgb(25, 25, 35);
  color: rgb(230, 230, 230);
  font: bold;

}

table {
  width:100%;
}

table, td, tr {
  border: 4px black
}
